<h2>Detalle listado de Reservas</h2>
<div class="flexbox">
    <h2> Patente {{patent}} </h2>
    <mat-card>
        <mat-card-title class="reserve-resume text-primary">Total de reservas valorizadas</mat-card-title>
        <mat-card-content class="reserve-resume text-red">
            ${{utils.formatNumber(totalTariff)}}
        </mat-card-content>
    </mat-card>
</div>
<mat-dialog-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab  label="Valorizados">
            <div *ngFor="let detail of listDetail">
                <app-reserve [detail]="detail"></app-reserve>   
            </div> 
            <div *ngIf="listDetail.length == 0">
                <h2 class="mt-2 ml-2">Sin reservas valorizadas</h2>
            </div>
        </mat-tab>
        <mat-tab label="Sin Valorizar">
            <div *ngFor="let error of listDetailError">
                <app-reserve-error [error]="error"></app-reserve-error>    
            </div>
            <div *ngIf="listDetailError.length == 0">
                <h2 class="mt-2 ml-2">Sin reservas no valorizadas</h2>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Volver</button>
</mat-dialog-actions>