<h1 mat-dialog-title>Detalle listado de viaje / Patente {{data.patent}} </h1>

<mat-dialog-content class="limited-box">
    <p>Puedes revisar el detalle en cada uno de los elementos.</p>
    <div *ngFor="let error of data.reservationDetailError">
        <mat-card class="mat-elevation-z5 mb-3">
            <mat-grid-list cols=6 rowHeight="3em">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Tienda:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{error.officeStoreName}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    N° de Guía:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    {{error.guideNumber}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Modalidad: 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    {{error.modality}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Nº Reserva:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{error.reservationNumber}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Peso:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{error.error.weight}} Kg
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Hoja de Ruta:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{error.roadNumber}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Observación:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    {{error.error.obs}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Acción:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button color="primary">Solucionar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </div>
    <div *ngFor="let detail of data.reservationDetail">
        <mat-card class="mat-elevation-z5 mb-3">
            <mat-grid-list cols=6 rowHeight="3em">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Tienda:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{detail.officeStoreName}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    N° de Guía:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    {{detail.guideNumber}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Modalidad: 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    {{detail.modality}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Sector:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{detail.routeType}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Nº Reserva:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{detail.reservationNumber}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Peso:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{detail.weight}} Kg
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Recorrido:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <small>{{detail.locationOrigin}}-{{detail.locationDestination}}</small> 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Hoja de Ruta:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    {{detail.roadNumber}}
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    Monto:
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" class="text-danger">
                    ${{utils.formatNumber(detail.tariff)}}
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Volver</button>
</mat-dialog-actions>