
        <!-- <div class="row">
            <div class="col-4">
                <mat-form-field>
                    <mat-label>Transportista</mat-label>
                    <mat-select>
                        <mat-option  [value]="carrier" *ngFor="let carrier of carriers" (click)="carrierSelected(carrier)">
                            {{carrier}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div> -->
        <div class="mat-elevation-z5">
            <mat-table [dataSource]="showElements">
                <ng-container matColumnDef="patent">
                    <mat-header-cell *matHeaderCellDef> Patente </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.patent}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="dataOrigin">
                    <mat-header-cell *matHeaderCellDef> Origen Dato </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.dataOrigin}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="modality">
                    <mat-header-cell *matHeaderCellDef> Modalidad </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.modality}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="officeStore">
                    <mat-header-cell *matHeaderCellDef> Tienda Despacha </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.officeStore}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="obs">
                    <mat-header-cell *matHeaderCellDef> Observación </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.obs}} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumnsAlert"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsAlert;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>