<div class="row">
    <div class="col">
        <h3>Introduce una fecha</h3>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <label class="input-group-text" for="fecha">Fecha</label>
            </div>
            <input type="date" class="form-control" id="fecha" aria-describedby="addon-wrapping" [(ngModel)]="inputDate">
            <button class="btn btn-danger ml-2" (click)="searchAlertsByDate()">Buscar</button>                    
        </div>
    </div>
</div>



<div *ngIf="loading; else loadedItems">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

</div>



<ng-template #loadedItems>
    <div  *ngIf="alertList.length > 0; else empty">
        <div class="mat-elevation-z5">
            <mat-table [dataSource]="alertList">
                <ng-container matColumnDef="patent">
                    <mat-header-cell *matHeaderCellDef> Patente </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.patent}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="carrier">
                    <mat-header-cell *matHeaderCellDef> Transportista </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.carrier}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="method">
                    <mat-header-cell *matHeaderCellDef> Método </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.method}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
        </div>
    </div>
</ng-template>

