<mat-card class="mat-elevation-z5 mb-3 boxed-element">
    <mat-grid-list cols=12 rowHeight="3em">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            Tienda:
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            {{error.officeStoreName}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            N° de Guía:
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
            {{error.guideNumber}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            Modalidad: 
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
            {{error.modality}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            Nº Reserva:
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            {{error.reservationNumber}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            Peso:
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            {{error.error.weight}} Kg
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            Hoja de Ruta:
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            {{error.roadNumber}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
            Observación:
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [rowspan]="2">
            {{error.error.obs}}
        </mat-grid-tile>
        <mat-grid-tile *ngIf="error.error.dealValue === 0" [colspan]="4" [rowspan]="2">
            <button mat-raised-button color="primary" (click)="activeRate = !activeRate" [disabled]="activeRate">Valorizar</button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="error.error.dealValue != 0" [colspan]="4" [rowspan]="2">
            Solucionado (${{error.error.dealValue}})
        </mat-grid-tile>
    </mat-grid-list>
    
    <div *ngIf="activeRate" class="mt-2">
        <mat-grid-list cols=6 rowHeight="6em">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="outline">
                    <mat-label>Valor Reserva</mat-label>
                    <input matInput #reserveValue maxlength="6" placeholder="5000">
                    <mat-icon matSuffix>attach_money</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-button aria-label="add reserve value" (click)="rateReserve(reserveValue.value, error)">
                    <mat-icon class="green-icon">add_circle</mat-icon>
                    Agregar
                </button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-button aria-label="add reserve value" (click)="activeRate = !activeRate">
                    <mat-icon>chevron_left</mat-icon>
                    Volver
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-card>