<h2>Detalle acercamientos de viaje</h2>
<div class="flexbox">
    <h2> Patente {{patent}} </h2>
    <mat-card>
        <mat-card-title class="reserve-resume text-primary">Total de reservas valorizadas</mat-card-title>
        <mat-card-content class="reserve-resume text-red">
            ${{utils.formatNumber(totalTariff)}}
        </mat-card-content>
    </mat-card>
</div>
<mat-dialog-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab  label="Valorizados">
            <div *ngFor="let approach of approachList">
                <app-approach [approach]="approach"></app-approach>   
            </div> 
            <div *ngIf="approachList.length == 0">
                <h2 class="mt-2 ml-2">Sin acercamientos valorizados</h2>
            </div>
        </mat-tab>
        <mat-tab label="Sin Valorizar">
            <div *ngFor="let error of approachErrorList">
                <app-approach-error [error]="error"></app-approach-error>    
            </div>
            <div *ngIf="approachErrorList.length == 0">
                <h2 class="mt-2 ml-2">Sin acercamientos no valorizados</h2>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Volver</button>
</mat-dialog-actions>